* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 100px;
    height: 50px;
    background-color: white;
    text-align: center;
}

.active {
    font-size: 15px;
    color: blue;
}